<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/company/reviews.css">
	<title>Відгуки</title>
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<div class="header">
				<div class="container">
					<div class="navbar">
						<a href="../index.html">
							 <img src="../img/logo/logo_SichEnergo.jpg" alt="">
						</a>
						<div class="burger" onclick="toggleMenu()">
							 <span></span>
							 <span></span>
							 <span></span>
						</div>
						<nav>
							 <ul class="menu">
								  <li><a href="#">Компанія</a>
										<ul>
											 <li><a href="../company/about.html">Про нас</a></li>
											 <li><a href="../company/documents.html">Документи</a></li>
											 <li><a href="#">Відгуки</a></li>
											 <!-- <li><a href="company/media.html">ЗМІ</a></li> -->
										</ul>
								  </li>
								  <li><a href="#">Продукція</a>
										<ul>
											 <li><a href="../goods/transformers.html">Трансформатори</a></li>
											 <li><a href="../goods/ktp.html">КТП</a></li>
										</ul>
								  </li>
								  <li><a href="../services/services.html">Послуги</a></li>
								  <li><a href="../news/news.html">Новини</a></li>
								  <li><a href="../contacts/contacts.html">Контакти</a></li>
								  <li><a href="../entrance/entrance.html">Вхід</a></li>
							 </ul>
						</nav>
				  </div>
				</div>
			</div>
			<main class="main">
				<div class="container">
					<div class="main__row">
						<div class="main__inform">
							<div class="main__inform-title">Додатковий сервіс</div>
							<div class="main__inform-body">
								<div class="main__inform-image">
									<img class="main__inform-image" src="../img/company/reviews/1.jpg" alt="Зображення">
								</div>
								<div class="main__inform-text">
									<div class="main__inform-text-title">
										Ми допоможемо з транспортуванням вашого обладнання!
									</div>
									<div class="main__inform-text-text">
										<p>Наша компанія не лише виготовляє якісне обладнання, але й забезпечує його безпечну доставку. Ми допомагаємо з пошуком відповідного транспортного засобу для перевезення вашого замовлення.</p>
										<p>Наші спеціалісти здійснюють професійну погрузку обладнання, дотримуючись усіх норм безпеки. За потреби ми також надаємо послуги з якісного пакування, щоб гарантувати збереження продукції під час транспортування.</p>
										<p>Ваше обладнання в надійних руках — від виготовлення до доставки! 🚛📦</p>
									</div>
									<div class="main__inform-text-deital">
										<p>Детальніше</p>
									</div>
								</div>
							</div>
						</div>
						<div class="main__content">
							<h1>Досвід співпраці з нами</h1>
							<div class="main__content-reviews-items">
								<div class="main__content-reviews-item">
									<div class="main__content-reviews-image">
										<img src="../img/company/reviews/ПМ.jpg" alt="Зображення">
									</div>
									<div class="main__content-reviews-title">
										<h2>ТОВ «Південна металобаза»</h2>
									</div>
									<div class="main__content-reviews-text">
										<p>З великою вдячністю хочемо поділитися чудовим відгуком від нашого клієнта - металлобази з Одеси. Нещодавно ми виконали замовлення на поставку трансформатора ТМГ-160/10-У1 і дуже приємно отримати таку високу оцінку нашої роботи!</p>
										<p>Наш клієнт відзначив, що завдяки оперативній роботі нашої команди, вони отримали трансформатор раніше обумовленого терміну. Це дозволило їм швидше запустити виробничі процеси, що є критично важливим для безперебійної роботи підприємства.</p>
										<p>Високий рівень технічних характеристик і надійність обладнання забезпечують стабільне функціонування їхньої електричної інфраструктури.</p>
										<p>Щиро дякуємо нашому клієнту за довіру та високі оцінки! Ми пишаємося тим, що можемо бути надійним партнером і сприяти розвитку вашого бізнесу. Рекомендуємо вас як відповідального та вдячного партнера!</p>
									</div>
									<div class="main__content-reviews-transvormator">
										Трансформатор ТМГ-250/10-У1 10/0,4 Д/Ун-11
									</div>
									<div class="main__content-reviews-region">
										Регіон - Одеська область
									</div>
								</div>
								<div class="main__content-reviews-item">
									<div class="main__content-reviews-image">
										<img src="../img/company/reviews/АСКА.png" alt="Зображення">
									</div>
									<div class="main__content-reviews-title">
										<h2>ТОВ "АСКА-ДЕВЕЛОПМЕНТ"</h2>
									</div>
									<div class="main__content-reviews-text">
										<p>Дякуємо за ваш відгук! 👍</p>
										<p>Ми завжди стараємося забезпечити найвищу якість послуг та вчасну поставку нашої продукції. Ваша довіра дуже важлива для нас. 🚚</p>
										<p>Нехай наше обладнання прослужать вам надійно та ефективно!</p>
									</div>
									<div class="main__content-reviews-transvormator">
										Трансформаторні підстанція КТП-160/10-У1
									</div>
									<div class="main__content-reviews-region">
										Регіон - Дніпропетровська область
									</div>
								</div>
								<div class="main__content-reviews-item">
									<div class="main__content-reviews-image">
										<img src="../img/company/reviews/Черномортранс Сервис.jpg" alt="Зображення">
									</div>
									<div class="main__content-reviews-title">
										<h2>ТОВ "АКВАТРАНС ПІВДЕНЬ"</h2>
									</div>
									<div class="main__content-reviews-text">
										<p>📢 Наша команда завжди в захваті, коли ми отримуємо позитивні відгуки від наших клієнтів!</p>
										<p>Сьогодні ми раді поділитися з вами словами вдячності від нашого клієнта - ТОВ "АКВАТРАНС ПІВДЕНЬ". Вони відзначили, що наш трансформатор ТМГ-250/10-У1 перевершив їх очікування. 🤗</p>
										<p>Для нас це є найкращим визнанням нашої праці🌟🤝</p>
										<p>Дякуємо за вашу довіру та підтримку! 🙌💫</p>
									</div>
									<div class="main__content-reviews-transvormator">
										Трансформатор ТМГ-250/10-У1 10/0,4 Д/Ун-11
									</div>
									<div class="main__content-reviews-region">
										Регіон - Одеська область
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>

		<!-- Модальное окно -->
		<div class="modal">
			<div class="modal-content">
				<span class="modal-close">&times;</span>
				<img src="" alt="">
				<div class="modal-text"></div>
			</div>
		</div>

		<footer class="footer">
			<div class="container">
				<p>Запоріжжя</p>
				<p>2024</p>
			</div>
		</footer>
		<script>
			function toggleMenu() {
				const menu = document.querySelector('.menu');
				menu.classList.toggle('active');
			}
		</script>
		<script src="../js/news-index.js"></script>
		<script src="../js/reviews.js"></script>
</body>
</html>