<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../css/goods/transformers.css">
	<title>Трансформатори</title>
</head>
<body>
	<div class="wrapper">
		<div class="content">
			<div class="header">
				<div class="container">
					<div class="navbar">
						<a href="../index.html">
							 <img src="../img/logo/logo_SichEnergo.jpg" alt="">
						</a>
						<div class="burger" onclick="toggleMenu()">
							 <span></span>
							 <span></span>
							 <span></span>
						</div>
						<nav>
							 <ul class="menu">
								  <li><a href="#">Компанія</a>
										<ul>
											 <li><a href="../company/about.html">Про нас</a></li>
											 <li><a href="../company/documents.html">Документи</a></li>
											 <li><a href="../company/reviews.html">Відгуки</a></li>
											 <!-- <li><a href="company/media.html">ЗМІ</a></li> -->
										</ul>
								  </li>
								  <li><a href="#">Продукція</a>
										<ul>
											 <li><a href="../goods/transformers.html">Трансформатори</a></li>
											 <li><a href="../goods/ktp.html">КТП</a></li>
										</ul>
								  </li>
								  <li><a href="../services/services.html">Послуги</a></li>
								  <li><a href="../news/news.html">Новини</a></li>
								  <li><a href="../contacts/contacts.html">Контакти</a></li>
								  <li><a href="../entrance/entrance.html">Вхід</a></li>
							 </ul>
						</nav>
				  </div>
				</div>
			</div>
			<main class="main">
				<div class="container">
					<div class="main__row">
						<div class="main__inform">
							<div class="main__inform-title">Опитовий лист</div>
							<div class="main__inform-body">
								<a href="../ol/ОЛ_ТМ(Г).doc" download class="download-link">
									<div class="main__inform-video">
										<video autoplay muted loop playsinlin src="../video/transform.mp4"></video>
									</div>
									<div class="main__inform-text">
										<div class="main__inform-text-title">
											Опитовий лист для замовлення трансформатору ТМ, ТМГ, ТМЗ та ТМЖГ
										</div>
										<div class="main__inform-text-save">
											<p>Скачати</p>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="main__content">
							<h1>Cилові масляні трансформатори серії ТМГ з класами напруги до 35 кВ та потужністю до 2500 кВА</h1>
							<div class="main__content-transfor-items">
								<div id="carouselExample" class="carousel slide">
									<div class="carousel-inner">

										<div class="carousel-item active">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-25-63/10 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/1. ТМГ-25-63(10) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/1. ТМГ-25-63 (10) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-100-160/10 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/2. ТМГ-100-160(10) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/2. ТМГ-100-160 (10) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-250-1250/10 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/3. ТМГ-250-1250(10) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/3. ТМГ-250-1250 (10) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-1600-2500/10 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/4. ТМГ-1600-2500(10) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/4. ТМГ-1600-2500 (10) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-25-40/35 та ТМЖГ-25-40/27,5 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/5. ТМГ-25-40(35) ТМЖГ-25-40(27.5) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/5. ТМГ-25-40 (35) У1 та ТМЖГ-20-40(27.5) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-63-250/35 та ТМЖГ-63-250/27,5 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/6. ТМГ-63-250(35) У1 та ТМЖГ-63-250(27.5) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/6. ТМГ-63-250(35) У1 та ТМЖГ-63-250(27.5) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-400-1250/35 та ТМЖГ-400-1250/27,5 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/7. ТМГ-400-1250(35) У1 та ТМЖГ-400-1250(27.5) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/7. ТМГ-400-1250(35) У1 та ТМЖГ-400-1250(27.5) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

										<div class="carousel-item">
											<h2>Габаритні, приєднувальні розміри і маса трансформаторів ТМГ-1600-2500/35 та ТМЖГ-1600-2500/27,5 У1</h2>
											<div class="transformers-image">
													<img src="../img/image-trans/tmg/8. ТМГ-1600-2500(35) У1 та ТМЖГ-1600-2500(27.5) У1.jpg" class="d-block w-100" alt="">
											</div>
											<div class="main__content-save">
												<a href="../ol/save-tm-tmg-tmz-ECO-YZ/save-tmg/8. ТМГ-1600-2500(35) У1 та ТМЖГ-1600-2500(27.5) У1.pdf" class="save-tmg-dd" download>Скачати</a>
											</div>
										</div>

									</div>
									<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
										<span class="carousel-control-prev-icon" aria-hidden="true"></span>
										<!-- <span class="visually-hidden"></span> -->
									</button>
									<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
										<span class="carousel-control-next-icon" aria-hidden="true"></span>
										<!-- <span class="visually-hidden">Next</span> -->
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
		<footer class="footer">
			<div class="container">
				<p>Запоріжжя</p>
				<p>2024</p>
			</div>
		</footer>
		<script>
			function toggleMenu() {
				const menu = document.querySelector('.menu');
				menu.classList.toggle('active');
			}
		</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<!-- <script src="../js/transformers.js"></script> -->
</body>
</html>